In [36]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Data/Sleep_health_and_lifestyle_dataset.csv")

df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea

In [3]:
df[["Systolic", "Diastolic"]] = df["Blood Pressure"].str.split("/", expand = True)

In [4]:
df

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder,Systolic,Diastolic
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN,126,83
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,125,80
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN,125,80
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea,140,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,370,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
370,371,Female,59,Nurse,8.0,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
371,372,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
372,373,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95
373,374,Female,59,Nurse,8.1,9,75,3,Overweight,140/95,68,7000,Sleep Apnea,140,95

In [11]:
df.groupby("Occupation").count()["Person ID"]

Occupation
Accountant              37
Doctor                  71
Engineer                63
Lawyer                  47
Manager                  1
Nurse                   73
Sales Representative     2
Salesperson             32
Scientist                4
Software Engineer        4
Teacher                 40
Name: Person ID, dtype: int64

In [12]:
df.groupby("Quality of Sleep").count()["Person ID"]

Quality of Sleep
4      5
5      7
6    105
7     77
8    109
9     71
Name: Person ID, dtype: int64

In [65]:
df.groupby("Stress Level").count()["Person ID"]

Stress Level
3    71
4    70
5    67
6    46
7    50
8    70
Name: Person ID, dtype: int64

In [66]:
df["BMI Category"].unique()

array(['Overweight', 'Normal', 'Obese'], dtype=object)

In [67]:
df.groupby("BMI Category").count()["Person ID"]

BMI Category
Normal        216
Obese          10
Overweight    148
Name: Person ID, dtype: int64

In [64]:
df["BMI Category"] = np.where(df["BMI Category"] == "Normal Weight", "Normal", df["BMI Category"])

In [68]:
df.groupby("Sleep Disorder").count()["Person ID"]

Sleep Disorder
Insomnia       77
Sleep Apnea    78
Name: Person ID, dtype: int64

In [69]:
df.groupby("Age").count()["Person ID"]

Age
27     1
28     5
29    13
30    13
31    18
32    17
33    13
34     2
35    12
36    12
37    20
38    20
39    15
40     4
41    12
42     9
43    34
44    30
45    14
48     3
49    11
50    20
51     8
52     9
53    17
54     7
55     2
56     2
57     9
58     6
59    16
Name: Person ID, dtype: int64

In [70]:
df.groupby("Gender").count()["Person ID"]

Gender
Female    185
Male      189
Name: Person ID, dtype: int64

In [71]:
df.groupby("Daily Steps").count()["Person ID"]

Daily Steps
3000       3
3300       2
3500       3
3700       2
4000       3
4100       2
4200       2
4800       2
5000      68
5200       2
5500       4
5600       2
6000      68
6200       1
6800       3
7000      66
7300       2
7500       2
8000     101
10000     36
Name: Person ID, dtype: int64